<ul class="list-group" id="post_list">
    <% for(let i=0, len=postList.length; i<len; i++){ var post = postList[i]; %><!-- for1 -->
    <li class="list-group-item post-item"> 
        <h1 class="author"> 
            <a href="/user/user_view?id=<%= post.poster._id %>"><img src="<%= post.poster.avatar %>"> 
            <%= post.poster.username %> 
            </a> 
            <small><%= post.created %></small> 
        </h1> 
        <div class="content"> 
            <a class="detail" href="/user/post_view"><%= post.content %></a> 
            <div class="picture">
                <% if(post.images){ %> 
                    <% for(let i=0, len=post.images.length; i<len; i++){ var image = post.images[i]; %><!-- for1-1 --><img src="<%= image.url %>" width="32%"><% } %><!-- end for1-1 -->
                 <% } %>
                 
            </div> 
        </div> 
        <div class="bottom" data-postId="<%= post._id %>"> 
            <div class="like-list">
                <% if(post.upvotes){ %> 
                    <span class="like-start glyphicon glyphicon-heart-empty"></span>
                    <% for(let i=0, len=post.upvotes.length; i<len; i++){ var upvote = post.upvotes[i]; %><!-- for1-1 -->
                    <a href="#">姓名,</a><a href="#">姓名</a><% } %><!-- end for1-1 -->
                <% } %>
                 
            </div> 
            <ul class="comment-list">
                <% if(post.comments){ %>   
                    <% for(let i=0, len=post.comments.length; i<len; i++){ var comment = post.comments[i]; %><!-- for1-1 -->
                    <li class="comment-list-item"> 
                        <a href="/user/user_view?userId=<% comment.from %>" class="from">姓名</a><span>回复</span><a href="/user/user_view?userId=<% comment.to %>" class="to">姓名</a><span>:</span><a href="javascript:void(0)" onclick="toReply(this, 'ta')"><% comment.content %></a> 
                    </li>     
                
                    <% } %><!-- end for1-1 -->
                <% } %>
<!--                <li class="comment-list-item"> 
                    <a href="/user/user_view?userId=" class="from">姓名</a><span>:</span><a href="javascript:void(0)" onclick="toDelete(this)">示例文本本这是一个示例文本本这是一个示例文本本这是一个示例文本。</a> 
                </li> 
                <li class="comment-list-item"> 
                    <a href="/user/user_view?userId=" class="from">姓名</a><span>回复</span><a href="/user/user_view?userId=" class="to">姓名</a><span>:</span><a href="javascript:void(0)" onclick="toReply(this, 'ta')">这是一个示例文本这是一个示例文本本这是一个示例文本本这是一个示例文本本这是一个示例文本。</a> 
                </li> -->
            </ul> 
            <div class="operation"> 
                <div class="operation-list f-cb"> 
<a href="javascript:void(0)" class="toComment operation-list-item link-no-decaration glyphicon glyphicon-comment" role="button"></a> 
<a href="javascript:void(0)" class="toFavorite operation-list-item link-no-decaration op-right glyphicon glyphicon-heart" role="button"></a> 
<a href="javascript:void(0)" class="toUpvote operation-list-item link-no-decaration op-right glyphicon glyphicon-thumbs-up" role="button"></a> 
                </div> 
                <div class="say-input temp-hide"> 
                  <div class="input-group"> 
                    <input type="text" class="toSay form-control" placeholder="输入评论内容...">
                    <a class="input-group-addon say" data-to=""><i class="glyphicon glyphicon-share-alt"></i></a> 
                  </div> 
                </div> 
            </div> 
        </div> 
    </li>
    <% } %><!-- end for1 -->
 
</ul>