
        <div class="user-view">
            <img class="banner" src="../../../user/images/d8b893fff875c70146cc3d4cecdf2b2b.jpg" width="100%">
            <div class="profile">
                <% if(isMe){ %>
                    <img class="evator" src="<%= user.avatar %>">
                    <input class="name" data-role="nickname" <% if(user.nickname){%>value='<%= user.nickname %>'<% }else{ %>placeholder='昵称...'<% } %>/>
                    <h2 class="name">账号：<%= user.username %></h1>
                    <input class="bio" data-role="bio" <% if(user.bio){%>value='<%= user.bio %>'<% }else{ %>placeholder='个性签名...'<% } %> >
                <% }else{ %>
                    <img class="evator" src="<%= user.avatar %>">
                    <% if(user.nickname){%>
                        <h1 class="name"><%= user.nickname %></h1>
                        <h2 class="name">账号：<%= user.username %></h2>
                    <% }else{ %>
                        <h1 class="name"> <%= user.username %></h1> 
                    <% } %>
                    <p class="bio"><% if(user.bio){%><%= user.bio %><% }else{ %>个性签名...<% } %></p>
                    <a href="javascript:void(0)" data-userid="<%=user._id %>" data-oper="add" class="toFollow link-no-decoration glyphicon glyphicon-star"></a>
                <% } %>
            </div>
        </div>
<!--
                    <h1 class="name visible-xs"><a href="/user/profile" ><% if(user.nickname){%><%= user.nickname %><% }else{ %> <%= user.username %> <% } %><i class="toEdit link-no-decoration glyphicon glyphicon-edit"></i></a></h1>-->